body{
  padding: 0;
  margin: 0;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
  
}

/* section > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  animation: parallaxScroll 8s linear infinite;
  
} */

#capa8{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/parallax/background1/capa8.png");
  animation: parallaxScroll 20s linear infinite;
  
}

#capa7{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/parallax/background1/capa7.png");
  animation: parallaxScroll 20s linear infinite;
}

#capa6{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/parallax/background1/capa6.png");
  animation: parallaxScroll 15s linear infinite;
}

#capa5{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/parallax/background1/capa5.png");
  animation: parallaxScroll 15s linear infinite;
}

#capa4{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/parallax/background1/capa4.png");
  animation: parallaxScroll 12s linear infinite;
}

#capa3{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/parallax/background1/capa3.png");
  animation: parallaxScroll 12s linear infinite;
}

#capa2{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/parallax/background1/capa2.png");
  animation: parallaxScroll 10s linear infinite;
}

#capa1{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/parallax/background1/capa1.png");
  animation: parallaxScroll 8s linear infinite;
}
 
.back2-1{
  background-image: url("../img/parallax/background2/capa1.png") !important ;
}
  
.back2-2{
  background-image: url("../img/parallax/background2/capa2.png") !important;
  
}
.back2-3{
  background-image: url("../img/parallax/background2/capa3.png")!important ;
  
}
.back2-4{
  background-image: url("../img/parallax/background2/capa4.png")!important ;
  
}
.back2-5{
  background-image: url("../img/parallax/background2/capa5.png")!important ;
  
}
.back2-6{
  background-image: url("../img/parallax/background2/capa6.png")!important ;
  
}
.back2-7{
  background-image: url("../img/parallax/background2/capa7.png")!important ;
  
}

.puntos{
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb8c; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 45%;
  padding-bottom: 8px;
}


#puntos{
  bottom: 14px;
}

#contenedorpuntos{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  display: inline-block;
  text-decoration: none;
  height: 35px; 
  width: 35px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  position: relative;
}

#instrucciones, #ganador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  position: relative;
}

.selectEscenario{
  width: 192px;
  height: 108px;
  cursor: pointer;
}

#escenario1{
  background-image: url("../img/background1.png") ;
}

#escenario2{
  background-image: url("../img/background2.png") ;
}

#start {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  text-decoration: none;
  height: 35px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

#start:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

#ganador > div {
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb8c; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#instrucciones > div {
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb8c; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-scissors {
    display: flex;
    justify-content: flex-end;
    animation: coin-moveY 1s linear infinite, coin-moveX 5s linear infinite;
}

#scissors {
  position:relative;
  width: 91px;
  height: 71px;
  bottom: -150px;
  background-image:url("../img/scissors.png");
  animation: scissors 1s steps(7) infinite;
  margin:auto;
}

.gb {
    position:relative;
    bottom: -200px;
    width:104px;
    height:150px;
    background:url(../img/guybush.png) no-repeat;
    animation:gbwalk 1s steps(6) infinite;
    margin:auto;
    display: flex;
    justify-content: flex-end;
  }


.gbjump{

    background:url(../img/jump.png) no-repeat ;
    animation: gbjump 1s steps(2) infinite, MoveUpDown 1s linear infinite !important;

  }


  .explode-coin{
    width: 57px;
    height: 50px;
    background:url(../img/monedarota.png) !important;
    animation: coin-explode 1s steps(6) !important ; 
  }

  .move-coin {
      width: 57px;
      height: 50px;
      background:url(../img/moneda.png);
      animation: coin-rotate 1s steps(6) infinite ; 
  }

  .div-moneda{
    
    display: flex;
    justify-content: flex-end;
    
    animation: coin-moveY 1s linear infinite, coin-moveX 5s linear infinite;
    
    
    
  }


  @keyframes coin-explode{
    0%{background-position: 0}
    100% {background-position: -346px}
  }

  @keyframes coin-moveX{
    100% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-50%);
    }
  }

  @keyframes coin-moveY{
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes coin-rotate{
    0%{background-position: 0}
    100% {background-position: -346px}
  }

  @keyframes scissors{
    0% { background-position:0 }
    100% { background-position:-640px }
  }

  @keyframes gbwalk {
    0% { background-position:0 }
    100% { background-position:-624px }
  }

  @keyframes gbjump{
    0% { background-position:0 }
    100% { background-position:-212px }
  }


  @keyframes parallaxScroll {
    0% { background-position: 1920px} 
    100% { background-position:0 }
  }

@keyframes movebg {
    0% { background-position: 1920px} 
    100% { background-position:0 }
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
      
    }
  }