#reset {
    width: 100px;
    height: 50px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    background: #8854d0;
    border-radius: .2em;
    box-shadow: 0px 0px 2px black;
    margin: 20px 0;
    cursor: pointer;
}

#reset:hover {
    background: white;
    color: #8854d0;
    border: 1px solid #8854d0;
    
}

#canvas, #reset{
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

ul{
    display: flex; 
    list-style: none; 
    padding: 0;
    justify-content: center;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }
  #div2 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }

  footer{
    display: flex;
    justify-content: center;
  }


  header {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #102C45;
    color: white;
    font-size:15px;
  }

  body{
      background-color: #373d42;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

  .juego{
      padding-top: 15px;
      display: flex;
      justify-content: space-evenly;
  }

  #fotoj1 + label {
    border: 0.1px solid black;
    display: inline-block;
    padding: 6px;
    background: white;
    font-weight: 500;
  }
  
  #fotoj1:focus + label,
  #fotoj1 + label:hover {
    background-color: rgb(221, 221, 221);
  }

  #fotoj2 + label {
    border: 0.1px solid black;
    display: inline-block;
    padding: 6px;
    background: white;
    font-weight: 500;
  }
  
  #fotoj2:focus + label,
  #fotoj2 + label:hover {
    background-color: rgb(221, 221, 221);
  }

  h1 {
    width: 250px;
    height: 70px;
    border: 0px;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    background: #5C6974;
    border-radius: .2em;
    box-shadow: 0px 0px 2px black;
    margin: auto auto auto auto;
    cursor: pointer;
}

h1:hover {
    background: #636E78;
    color: #A5B7C7;
    border: 1px solid #A5B7C7;
    
}

h1{
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


